<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>500</title>

    <style>
        body {
            background-color: #303030;
        }
        * {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }
        .title {
            font-size: 20em;
            margin-bottom: 0;
        }
        .subtitle {
            font-size: 5em;
        }
    </style>
</head>
<body>
<h1 class="title">Sorry!</h1>
<h4 class="subtitle">Looks like the server failed to process your request.</h4>
<script>
    function goBack() {
        window.history.back();
    }
    setTimeout(goBack, 5000)
</script>
</body>
</html>