{{ template "dashboard/layout.html" . }}

{{ define "head" }}
<link rel="stylesheet" href="/static/css/dashboard/embedg.css">
{{ end }}

{{ define "content" }}
<div class="container py-5">
  {{ template "dashboard/generator.html" . }}
</div>
<div class="previewFab bg-primary" data-toggle="modal" data-target="#previewModal" onclick="makePreview()">
  <i class="material-icons pr-2 text-light">visibility</i>
</div>
{{ end }}

{{ define "script" }}
<script src="/static/js/dashboard/generator.js"></script>
<script src="/static/js/dashboard/preview.js"></script>
{{ end }}