<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Magic Bots</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for service in services %}
                        {% if service.view %}
                            <a class="dropdown-item" href="{% url service.view %}">{{ service.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% for service in services %}
                {% if service.active %}
                    {% for link in service.link_set.all %}
                        <li class="nav-item"><a href="{{ link.url }}" target="_blank"
                                                class="nav-link">{{ link.name }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <li class="nav-item"><a href="/discord" target="_blank" class="nav-link">Support</a></li>
        </ul>
    </div>
</nav>
<script>
    $(function () {
        $(`.navbar a.nav-link[href='${window.location.pathname}']`).parent().addClass('active');

        var dropdowns = $(`.navbar a.dropdown-item[href='${window.location.pathname}']`);
        dropdowns.addClass('active');
        dropdowns.parent().parent().addClass('active');
    });
</script>