{% extends "base.html" %}
{% block content %}
<div class="section">
    <br><br>

    <!-- Embed Generator - Side -->
    <ins class="adsbygoogle is-pulled-right is-hidden-mobile"
         style="display:inline-block;width:120px;height:600px"
         data-ad-client="ca-pub-6803521419893828"
         data-ad-slot="5705187556">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="container">
        <h1 class="title has-text-centered">Embed Generator</h1>
        <br><br>
        <form action="/tools/embed-generator/process" method="post" id="form" class="section box" onchange="updatePreviews();" oninput="updateJson();">
            <!-- Webhook Setting -->
            <div class="field">
                <label class="label">Webhook</label>
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control">
                            <a class="button is-static">
                                https://discordapp.com/api/webhooks/
                            </a>
                        </div>
                        <div class="control is-expanded">
                            <input required oninput="evaluateWebhookUrl();" name="webhook_url" class="input" type="text" placeholder="423157583646294017/nsFEJfuNKVBRcKcgj0JX3TygdvhX-ItEJhrWVWadw7shUXXuIRwsJHUS_XbDDSA_ILKN">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input name="webhook_name" class="input" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded  has-icons-left">
                            <input name="webhook_avatar" class="input" type="url" placeholder="Avatar-Url">
                            <span class="icon is-small is-left">
                                <img id="webhook_avatar_preview" src="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unembedded Content -->
            <br>
            <div class="field">
                <label class="label">Unembedded</label>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea name="content" class="textarea" placeholder="What a cool message!"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Basics -->
            <br>
            <div class="field">
                <label class="label is-normal">Basics</label>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input name="title" class="input" type="text" placeholder="Title">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded">
                            <input name="color" class="input" type="color" placeholder="Color" value="#36393e">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea name="description" class="textarea" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-label is-normal"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input name="url" class="input" type="url" placeholder="Url">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Author -->
            <br>
            <div class="field">
                <label class="label is-normal">Author</label>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input name="author_name" class="input" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded has-icons-left">
                            <input name="author_icon" class="input" type="url" placeholder="Icon-Url">
                            <span class="icon is-small is-left">
                                <img id="author_icon_preview" src="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input name="author_url" class="input" type="url" placeholder="Url">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Images -->
            <br>
            <div class="field">
                <label class="label">Images</label>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded has-icons-left">
                            <input name="image" class="input" type="url" placeholder="Image-Url">
                            <span class="icon is-small is-left">
                                <img id="image_preview" src="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded has-icons-left">
                            <input name="thumbnail" class="input" type="url" placeholder="Thumbnail-Url">
                            <span class="icon is-small is-left">
                                <img id="thumbnail_preview" src="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <br>
            <div class="field">
                <label class="label is-normal">Footer</label>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <input name="footer_text" class="input" type="text" placeholder="Text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expanded has-icons-left">
                            <input name="footer_icon" class="input" type="url" placeholder="Icon-Url">
                            <span class="icon is-small is-left">
                                <img id="footer_icon_preview" src="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fields -->
            <br>
            <div class="field"><label class="label is-normal">Fields</label></div>
            <div id="fields"></div>
            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button type="button" onclick="addField();" class="button is-success"><span class="icon is-small"><i class="fas fa-plus"></i></span></button>
                            <button type="button" onclick="removeField();" class="button is-danger"><span class="icon is-small"><i class="fas fa-minus"></i></span></button>
                            <button type="button" onclick="removeFields();" class="button is-danger"><span class="icon is-small"><i class="fas fa-trash-alt"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="field">
                <div class="field-body">
                    <div class="field">
                        <div class="control is-pulled-left">
                            <button type="submit" class="button is-info"><span class="icon is-small"><i class="fas fa-play"></i></span><span> Send</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Embed Generator - Between -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6803521419893828"
             data-ad-slot="9780906194"
             data-ad-format="auto"
             data-full-width-responsive="true">
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <form id="json_form" class="section box" oninput="updateForm();" >
            <div class="field">
                <label class="label">Json Code <a class="has-text-dark" onclick="copyJson();"><span class="icon is-small"><i class="far fa-copy"></i></span></a></label>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <textarea name="json" class="textarea" placeholder="Json Code"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="/static/tools/embed_generator/index.js"></script>
    </div>
</div>
<div style="display: none;" id="adblockPopup">{% include '/components/adblock_popup.html' %}</div>
{% endblock content %}