.navbarAvatar {
    border-radius: 50%;
    padding: 0;
    height: 50px;
    border: 2px solid white;
}

.footer {
    padding: 75px 0 20px 0;
}

.footerSeparator {
    border: 1px solid #7289da;
    margin: 50px 0 20px 0;
    border-radius: 5px;
}

.footerTitle {
    color: #7289da;
    font-size: 1.7rem;
    font-weight: 300;
}

.footerLinks a {
    color: white;
    display: block;
    line-height: 2.5rem;
}

.footerLinks a:hover {
    color: white;
    text-decoration: underline;
}