{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<div class="container">
    <h1 class="title">Imprint / Impressum</h1>
    <p class="content">
        Merlin Fuchs<br>
        Dijonstr. 17<br>
        28211 Bremen<br>
        Germany<br><br>

        <b>Email:</b> contact@discord.club<br><br>

        <b>Privacy Policy:</b> <a href="/privacy">https://discord.club/privacy</a><br>
        <b>Cookie Policy:</b> <a href="/cookies">https://discord.club/cookies</a>
    </p>
</div>
<br><br><br><br>
{% endblock content %}