{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<div class="container">
    <h1 class="title">Privacy Policy</h1>
    <a href="https://www.iubenda.com/privacy-policy/88601334" class="iubenda-nostyle no-brand iubenda-embed iub-body-embed" title="Privacy Policy">Privacy Policy</a> <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</div>
<br><br><br><br>
{% endblock content %}