{% extends "base.html" %}
{% block content %}
    <div class="container my-5">
        <div class="row justify-content-start">
            <h1 class="display-1 mt-5">Xenon</h1>
        </div>
        <hr>
        <p class="lead text-center">Copy, Clone, Synchronize or Backup your discord with just one command and take
            advantage of hundreds of free templates.</p>
        <br>
        <div class="row text-center my-5">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class='numscroller display-1' data-min='0' data-max='{{ shards|length }}' data-delay='1'
                            data-increment='1'>{{ shards|length }}</h1>
                        <span class="lead">shards</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class='numscroller display-1' data-min='0' data-max='{{ guilds }}' data-delay='5'
                            data-increment='{{ guild_steps }}'>{{ guilds }}</h1>
                        <span class="lead">guilds</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class='numscroller display-1' data-min='0' data-max='{{ users }}' data-delay='5'
                            data-increment='{{ user_steps }}'>{{ users }}</h1>
                        <span class="lead">users</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="my-5">
            <h1 class="display-3 text-center">Shards</h1>
            <div class="row my-3 justify-content-center text-center">
                {% for shard in shards %}
                    <div class="col-auto p-1">
                        <div class="card {% if shard.is_online %}bg-success{% else %}bg-danger{% endif %}">
                            <div class="card-body">
                                {{ shard.id }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    {% load static %}
    <script src="{% static 'num_scroller.js' %}"></script>
{% endblock %}
